{% extends 'base.html' %}
{%  block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trail Information</title>
</head>
<body>

<h1>{{ trail.name }}</h1>
<h2> Difficulty: {{ trail.difficulty }}</h2>
<h2>Distance: {{ trail.distance }}</h2>
<h2>Location: {{trail.location}}</h2>
<h2>Reviews:</h2>
<ul>
     {% for t2r in trail.t2rs %}
         <ul>

             <b>{{t2r.review.user.username}}</b>
             says:
             <br>
             <b>{{t2r.review.rating}}</b>
            <b>{{ t2r.review.description }}</b>

         </ul>
     {% endfor %}
    <ul><a href="{{ url_for('trailreview',name=trail.name) }}">Leave a Review!</a></ul>
</ul>




</body>
</html>
{% endblock %}